.news_story_footer {
    background: #0d6efd;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_story_footer a {
    color: whitesmoke;
    text-decoration: none;
}

.news_story_img {
    width: 100%;
    height: 300px;
}
