.news_story_header {
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: .8rem;
    padding: 30px 20px;
    background: #f8f9fa;
    border: none;
    white-space: nowrap;
}

.news_story_header a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news_story_img {
    width: 100%;
    height: 250px;
}

.news_story {
    min-width: 350px;
    height: 500px;
}

.news_story_body {
    font-size: .6rem;
    diplay: flex;
    overflow: hidden;
    padding: 10px 20px;
}


.news_story_footer {
    min-height: 15px;
    display: flex;
    align-items: center;
}

.news_story_footer > div {
    display: flex;
    width: 50%;
    align-items: center;
}
.news_story_footer > div:nth-child(1) {
    justify-content: flex-start;
}

.news_story_footer > div:nth-child(2) {
    justify-content: flex-end;
}

.news_story_footer p {
    margin: 0;
    padding: 0px 10px;
}
