.details_page_plot {
    display: grid;
    padding: 50px;
}

.details_page_news {
    display: grid;
    padding: 0px 50px 50px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-evenly;
}


@media only screen and (max-width: 1300px) {
    .details_page_news {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .details_page_news {
        grid-template-columns: 1fr;
    }
}
