.home_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
    padding: 50px 100px;
    grid-auto-rows: minmax(20vh, 1fr);
}


@media only screen and (max-width: 1200px) {
    .home_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .home_grid {
        grid-template-columns: 1fr;
    }
}
